bin/
pkg/
.DS_Store
*.pyc
*.swp
*.tfstate
*.tfstate*
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform/*
.terraform.lock.hcl
*.tfvars
release/wi-kubernetes-manifests.yaml
k8s-1-30-4-do-0-sfo2-1725295196286-kubeconfig.yaml
*.yaml
/build/
/dist/
*.log
*.mp4

